*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "UrbanistVariable";
  src: url(../fonts/Urbanist-VariableFont_wght.woff2) format("woff2"), url(../fonts/Urbanist-VariableFont_wght.woff) format("woff");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "UrbanistVariableCursive";
  src: url(../fonts/Urbanist-Italic-VariableFont_wght.woff2) format("woff2"), url(../fonts/Urbanist-Italic-VariableFont_wght.woff) format("woff");
  font-style: italic;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
  font-family: "UrbanistVariable";
}

.wrapper,
.header {
  margin: 0 auto;
  max-width: 1512px;
  width: 100%;
}

.header {
  height: 73.8vh;
  position: relative;
  background-color: lightgray;
  background-image: url(../img/header-bg-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header .search-box {
  position: absolute;
  top: 3em;
  left: 6em;
}
.header .search-box__form {
  position: relative;
  width: 30.25rem;
  height: 3.125rem;
}
.header .search-box__form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0.86rem;
  left: 1.28rem;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid transparent;
  background: none;
  z-index: 1;
  cursor: pointer;
}
.header .search-box__form-input {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 1em;
  background-color: #f5f5f5;
  font-family: "UrbanistVariable";
  font-size: 1.25rem;
  font-weight: 300;
  text-indent: 3.37rem;
}
.header .search-box__form-input::-moz-placeholder {
  color: #353839;
}
.header .search-box__form-input::placeholder {
  color: #353839;
}
.header .nav {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 54.9375rem;
  height: 40.375rem;
  border-bottom-left-radius: 12.625rem;
  background-color: #f5f5f5;
}
.header .nav__box {
  grid-row: 1/3;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}
.header .nav__box-link {
  top: 3.63rem;
  padding: 0 3.125rem;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  color: #161515;
  cursor: pointer;
}
.header .nav__heading {
  grid-row: 3/7;
  text-align: center;
}
.header .nav__heading-title {
  font-size: 4rem;
  font-weight: 500;
  color: #353839;
}
.header .nav__heading-subtitle {
  display: inline;
  position: relative;
  font-size: 2.25rem;
  font-weight: 500;
  color: #d9d5d1;
  overflow: visible;
}
.header .nav__heading-subtitle::before {
  position: absolute;
  content: "";
  top: 1.5rem;
  left: -0.38rem;
  width: 2.125rem;
  height: 0.125rem;
  background-color: #d9d5d1;
  transform: translateX(-100%);
}
.header .nav__heading-subtitle::after {
  position: absolute;
  content: "";
  top: 1.5rem;
  right: -0.38rem;
  width: 2.125rem;
  height: 0.125rem;
  background-color: #d9d5d1;
  transform: translateX(100%);
}

@media (min-width: 1200px) {
  .header {
    height: 46.125rem;
  }
  .header .search-box {
    top: 3em;
    left: 6em;
  }
  .header .search-box__form {
    width: 30.25rem;
    height: 3.125rem;
  }
  .header .search-box__form-input {
    font-size: 1.25rem;
    text-indent: 3.37rem;
  }
}/*# sourceMappingURL=style.css.map */