// @keyframes pulse {
//     from {
//         transform: scale(1);
//         opacity: .5;
//     }

//     to {
//         transform: scale(1.4);
//         opacity: 0;
//     }
// }

// @keyframes rotate-right {
//     from {
//         transform: rotate(0);
//     }

//     to {
//         transform: rotate(360deg);
//     }
// }

// @keyframes rotate-left {
//     from {
//         transform: rotate(0);
//     }

//     to {
//         transform: rotate(-360deg);
//     }
// }

@keyframes swingOne {
    from {
        rotate: -2.61deg;
    }

    to {
        rotate: 2.61deg;
    }
}

@keyframes swingTwo {
    from {
        rotate: 2.61deg;
    }

    to {
        rotate: -2.61deg;
    }
}

@keyframes reverseSwingOne {
    from {
        rotate: 2.442deg;
    }

    to {
        rotate: -2.442deg;
    }
}

@keyframes reverseSwingTwo {
    from {
        rotate: -2.442deg;
    }

    to {
        rotate: 2.442deg;
    }
}