@font-face {
    font-family: 'UrbanistVariable';
    src: url(../fonts/Urbanist-VariableFont_wght.woff2) format('woff2'), url(../fonts/Urbanist-VariableFont_wght.woff) format('woff');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UrbanistVariableCursive';
    src: url(../fonts/Urbanist-Italic-VariableFont_wght.woff2) format('woff2'), url(../fonts/Urbanist-Italic-VariableFont_wght.woff) format('woff');
    font-style: italic;
    font-display: swap;
}