@use './colors' as *;
@use './animations' as *;

.header {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(10, 1fr);
	background-color: $mobile-header;
	background-image: url(../img/header-bg-img.png);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 300%;
	background-position-x: 10%;

	.search-box {
		grid-column: 1/-1;
		grid-row: 9/11;
		display: flex;
		justify-content: center;
		align-items: center;

		&__form {
			position: relative;
			width: 70%;
			height: 30%;

			&-button {
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				top: 26%;
				left: 4%;
				height: 50%;
				border: 1px solid transparent;
				background: none;
				z-index: 1;
				cursor: pointer;
			}

			&-input {
				position: absolute;
				width: 100%;
				height: 100%;
				border: 1px solid transparent;
				border-radius: 1rem;
				background-color: $bg-color;
				font-family: 'UrbanistVariable';
				font-size: 1.25rem;
				font-weight: 300;
				text-indent: 2.5rem;

				&::placeholder {
					color: $heading;
				}
			}

			// stworzyć skrypt ukrywający napis 'search' w razie wykraczenia się obrazka lupy
		}
	}

	.nav {
		grid-column: 2/-1;
		grid-row: 1/5;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		border-bottom-left-radius: 10rem;
		background-color: $bg-color;
		z-index: 2;

		&__box {
			display: none;
			justify-content: space-evenly;
			align-items: center;
			width: 100%;
			height: 100%;
			text-align: center;

			&-link {
				position: relative;
				font-size: 1rem;
				font-weight: 400;
				text-decoration: none;
				color: $txt-color;
				cursor: pointer;
				transition: color 0.3s;

				&::before,
				&:after {
					content: '';
					position: absolute;
					width: 0;
					top: 100%;
					border-bottom: 3px solid $subtitle;
					transition: width 0.3s;
				}

				&::before {
					right: 50%;
				}

				&::after {
					left: 50%;
				}

				&:hover {
					color: $heading;
				}

				&:hover::before,
				&:hover::after {
					width: 50%;
				}
			}
		}

		&__heading {
			height: 40%;
			text-align: center;
			user-select: none;

			&-title {
				padding-bottom: 0.5rem;
				font-size: 2rem;
				font-weight: 500;
				color: $heading;
			}

			&-subtitle {
				display: inline;
				position: relative;
				font-size: 1.25rem;
				font-weight: 500;
				color: $subtitle;
				overflow: visible;

				&::before {
					position: absolute;
					content: '';
					top: 50%;
					left: -0.38rem;
					width: 1.125rem;
					height: 0.1rem;
					background-color: $subtitle;
					transform: translateX(-100%);
				}

				&::after {
					position: absolute;
					content: '';
					top: 50%;
					right: -0.38rem;
					width: 1.125rem;
					height: 0.1rem;
					background-color: $subtitle;
					transform: translateX(100%);
				}
			}
		}
	}
}
